- title "Game"

%p
  %strong Name:
  = @game.name

%p
  = link_to "Edit", edit_game_path(@game)
  |
  = link_to "Destroy", @game, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", games_path
