- title "Character"

%p
  %strong Name:
  = @character.name

%p
  = link_to "Edit", edit_character_path(@character)
  |
  = link_to "Destroy", @character, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", characters_path
